$primary-01: #26355b;
$primary-hover: #172037;
$secondary-01: #f8fafc;
$secondary-hover: #f1f5f9;
$secondary-border: #cbd5e1;
$destructive-01: #5aa5fe;
$destructive-focus: #4888d5;
$success-01: #10b981;
$success-focus: #059669;
