<div class="flex flex-col w-full">
  <a class="text-blue-600 flex mb-14 text-sm" [routerLink]="['/auth', 'login']" routerLinkActive="router-link-active" ><img class="mr-3
    " src="assets/svgs/arrow.svg" /> Back to login</a>
  <h1 class="font-700 text-5xl text-blue-600 mb-2">
    Reset your<br />
    password here
  </h1>
  <p class="text-lg text-gray-600 mb-16">
    Please, provide your existing phone number
  </p>
  <form class="flex-col flex mb-10" [formGroup]="loginForm">
    <S-Input
      placeHolder="+234 818 375 3762"
      [prefix]="true"
      type="tel"
      formControlName="phoneNumber"
      [controlName]="'phoneNumber'"
      [inputMode]="'tel'"
      [parentForm]="loginForm"
      [validators]="phoneNumberConfig"
    ></S-Input>
  </form>
  <s-button
    type="primary"
    size="large"
    label="Reset Password"
    [isDisabled]="loginForm.invalid"
    (doClick)="router.navigate(['/auth', 'otp']);"
  ></s-button>
</div>
